<section>
	<h2><%= link_to customer.full_name, finder_customer_path(customer)%></h2>

	<% if customer.image %>
		<p><%= image_tag customer.image, :width => '100', :height => '130'%></p>	
	<% end %>

	<div class="phoneNo">
		<p><strong>Phone: </strong><%= customer.phone_number %></p>
	</div>
	<div class="email">
		<p><strong>Email: </strong><%= customer.email_address %></p>
	</div>
	<div class="notes">
		<p><strong>Notes: </strong><%= customer.notes %></p>
	</div>
</section>